// Ghi đè biến
$primary: #D32F2F;
//$container-max-widths: (
//    sm: 540px,
//    md: 720px,
//    lg: 960px,
//    xl: 1200px,
//    xxl: 1360px
//);

$link-decoration: none;
$light-border: #dee2e6;
$gap: 18px;
$bg-color: #f5f5f5;

.gap {
    margin-bottom: $gap;
}

@import "bootstrap/scss/bootstrap";

// 5. Code SCSS tùy chỉnh của bạn ở đây

body, html {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
img {
    max-width: 100%;
}
header {
    background-color: $primary;
    color: #fff;
    a {
        color: #fff;
    }
    .top-bar {
        padding: 5px 0;
        a {
            display: inline-block;
            padding: 0 5px;
            &:hover {
                color: $red-100;
            }
        }
    }
    .header-main {
        padding-top: 15px;
        .logo-wrapper {
            flex: 0 0 200px;
            padding-right: 60px;
        }
        .search-wrapper {
            flex: 1;
            max-width: 800px;
            background: #fff;
            padding: 3px;
            border-radius: 3px;
            .search-input {
                border: none;
                height: 33px;
                padding: 0 15px;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            .btn-search {
                border: none;
                background: $primary;
                color: #fff;
                width: 35px;
                border-radius: 2px;
            }
        }
        .cart-wrapper {
            flex: 0 0 auto;
            padding-left: 30px;
            .cart-link {
                i {
                    font-size: 1.5em;
                }
                .cart-badge {
                    position: relative;
                    top: -12px;
                    background: #fff;
                    color: $primary;
                    border-radius: 10px;
                    padding: 1px 5px;
                    font-size: 0.9em;
                }
            }
        }
    }
    .header-bottom {
        padding-bottom: 5px;
        .header-tags {
            a {
                font-weight: 200;
                font-size: 0.9em;
                padding: 0 5px;
                &:hover {
                    text-decoration: underline;
                    color: $red-100;
                }
            }
        }
    }
}
main {
    background: $bg-color;
    padding: $gap 0;
}
.main-section {
    background: #fff;
    margin-bottom: $gap;
    border-radius: 1px;
    .main-title {
        font-size: 1.25em;
        font-weight: 500;
        padding: 13px 16px;
        margin: 0;
    }
}

.list-categories {
    .grid-board {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        border-top: 1px solid $light-border;
        border-left: 1px solid $light-border;
        .item {
            border-right: 1px solid $light-border;
            border-bottom: 1px solid $light-border;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.2s;
            padding: 0 3px;
            color: $body-color;
            &:hover {
                background: $bg-color;
                color: $primary;
                box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
            }
        }
    }
}
